.Checkout-Container {
    display: flex;
    position: absolute;
    top: 40vh;
    left: 10vw;
    width: 80vw;
    justify-content: space-between;
}

.Checkout-Heading {
    position: absolute;
    top: 25vh;
    left: 40vw;
    color: white;
    font-family: "Black Han Sans";
    text-shadow: 1px 1px 3px black;
    font-size: 7vh;
}

.Checkout-Items {
    padding: 10vh 4vh;
    background-color: rgba(255, 255, 255, 0.9);
    width: 45vw;
    border-radius: 4vh;
    font-family: "Comfortaa";
    text-align: left;
}

.collapse {
    cursor: pointer;
    border: 0.4vh solid black;
    padding: 1vh 3vh;
    margin-top: 2vh;
    border-radius: 2vh;
}

.Checkout-Bill {
    padding: 10vh 3vh;
    background-color: rgba(255, 255, 255, 0.9);
    width: 25vw;
    border-radius: 4vh;
    font-family: "Comfortaa";
}